<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="31929AanandKainth.EyeGuard"
    Publisher="CN=16991B57-0156-4AA4-94F5-7AD4D5640326"
    Version="2.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="1d2d8a9e-6745-48f8-bc25-48403906f197" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>EyeGuard</DisplayName>
    <PublisherDisplayName>Aanand Kainth</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="EyeGuard"
        Description="Keep your eyes healthy by getting periodically getting reminders to look away from the screen"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  ShortName="EyeGuard" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
		<desktop:Extension Category="windows.toastNotificationActivation">
		  <desktop:ToastNotificationActivation ToastActivatorCLSID="D391177C-18AA-4902-B971-069C73E32427" />
		</desktop:Extension>

		<com:Extension Category="windows.comServer">
		  <com:ComServer>
		    <com:ExeServer Executable="EyeGuard\EyeGuard.exe" DisplayName="EyeGuard" Arguments="----AppNotificationActivated:">
			  <com:Class Id="D391177C-18AA-4902-B971-069C73E32427" />
			</com:ExeServer>
		  </com:ComServer>
		</com:Extension>
		  
        <desktop:Extension Category="windows.startupTask">
          <desktop:StartupTask TaskId="Startup" Enabled="true" DisplayName="Automatically Start EyeGuard" />
	    </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
