<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

  <Identity
    Name="eyecare"
    Publisher="CN=Aanand Kainth"
    Version="1.0.5.0" />

  <Properties>
    <DisplayName>EyeCare</DisplayName>
    <PublisherDisplayName>Aanand Kainth</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="EyeCare"
        Description="Take care of your eyes with this app that reminds to give them a break once in a while"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="EyeCare" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<!--Register COM CLSID LocalServer32 registry key-->
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="EyeCare\EyeCare.exe" Arguments="-ToastActivated" DisplayName="EyeCare Toast Server">
						<com:Class Id="a7f0dda3-447a-40ad-b720-bd0ab6e29d69" DisplayName="EyeCare Receiver"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>

			<!--Specify which CLSID to activate when toast clicked-->
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="a7f0dda3-447a-40ad-b720-bd0ab6e29d69" />
			</desktop:Extension>
			<uap:Extension Category="windows.protocol">
				<uap:Protocol Name="eyecare">
					<uap:Logo>eyecare.png</uap:Logo>
					<uap:DisplayName>EyeCare</uap:DisplayName>
				</uap:Protocol>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
	  <rescap:Capability Name="runFullTrust"/>
  </Capabilities>
</Package>
