@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');

body {
    font-family: Lato, sans-serif;
    margin: 0;
    box-sizing: border-box;
    line-height: 2rem;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

section {
}

.hero-color {
    background-color: cornsilk;
}

header, header a {
    display: flex;
    height: 64px;
    padding: 8px;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: black;
}

header a h1 {
    display: inline-block;
}

header img {
    width: 48px;
    margin: 0 8px;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    font-size: 1em;
    padding: 16px;
}

#hero {
    text-align: center;
    /*background: url("");*/
}

#hero div {
    max-width: 500px;
}

#hero h1 {
    font-size: 3em;
}

h3 {
    color: gray;
    font-size: 1.5rem;
    line-height: 2em;
}

article {
    max-width: 800px;
    margin: auto;
    padding: 48px;
}

blockquote {
    border-left: 6px solid #bbbbbb;
    padding: 0 24px;
    margin: 0 -24px;
}

section h1 {
    font-size: 2rem;
}

section:not(#hero) > h1:hover:after {
    content: "#";
    color: gray;
    margin-left: 16px;
}

@media screen and (max-width: 370px) {
    header h1 {
        padding-right: 0 !important;
    }
}

img {
    max-width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > div {
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 256px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.gallery div img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    min-height: 100%;
}

.gallery > div:after {
    content: "";
    position: absolute;
    z-index: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    transition: background-color 500ms;
}

.gallery > div:hover:after {
    background: rgba(255, 255, 255, 0.6);
}

.gallery div :not(img ) {
    opacity: 0;
    transition: opacity 500ms, transform 500ms;
    transform-origin: center;
    transform: scale(1.2);
    z-index: 3;
}

.gallery div:hover :not(img) {
    transform: scale(1);
    opacity: 1;
}

.gallery div img {
    transform: scale(1);
    transform-origin: center;
    transition: transform 500ms;
}

.gallery div:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 550px) {
    .gallery > div {
        width: 100%;
    }
}

.self-link {
    color: black;
    text-decoration: none;
}

button, a.button {
    color: black;
    background-color: white;
    box-shadow: 0 0 5px transparent;
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 16px;
    text-align: center;
    border-radius: 32px;
    font-weight: bold;
    margin: 8px;
    font-family: Montserrat, sans-serif;
    transition: box-shadow 500ms, transform 500ms;
    font-size: 16px;
    text-decoration: none;
    line-height: normal;
    width: 200px;
    max-width: 100%;
}

button:hover, a.button:hover {
    /*box-shadow: 0 0 5px gray;*/
    transform-origin: center;
    transform: scale(1.05);
}

button.primary, a.button.primary {
    border: none;
    background-color: rebeccapurple;
    color: white;
}